<a href="https://colab.research.google.com/github/Narayanachavakula812/PYTHON/blob/master/DAY_10(31_01_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WHILE LOOP
# FOR LOOP

In [4]:
# PRINT NUMBER FROM 1 TO N
# input 10
# output 1 2 3....10
n = int(input("enter a number :"))
i = 1
while i<=n:
  print(i,end =" " )
  i = i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [9]:
# PRINT SUM OF THE EVEN NUMBERS UPTO 20
# input
# output
n = int(input("enter a number :"))
i= 0
sum = 0
while i<=n:
  sum = sum +i
  i = i+2
  print(sum,end =" ")

enter a number :20
0 2 6 12 20 30 42 56 72 90 110

In [12]:
# print paramdole
# input
# output
n=int(input("enter a number :"))
rem=0
num=0
while n>0:
  rem=n%10
  num=num*10+rem
  n=n//10
  print(num)

enter a number :456
6
65
654

# functional programing

* simple 
* eaasy to understand
* better reusability
* lengthy program will be divided into sub programs

In [0]:
def nameofthefuction(<parameter>:)
statements
return

In [21]:
# print sum of even number
# input:1234
# output:(2+4)=6
def sumofevendigits(n):
 s = 0
 while n!= 0:
   r = n%10
   if r%2==0:
    s=s+r 
   n =n//10
 return s
sumofevendigits(1234)

6

In [42]:
# print find the largest number in a number
# input: 123456
# output:6
def large(n):
  prev=0
  next=0
  while(n!=0):
    prev=next
    next=n%10
    if(prev>next):
      next=prev
    n=n//10
  return next
large(123456)

6

# for loop

# syntex
# for in range (start,stop,stop)
# statement

In [0]:
# syntex:
for in  the range(strart,stop,stop)
     statements

In [37]:
# using fuction number between the limits
# input 11 25
# output 11 12 13 14 ....25
def printserires(fn,ln):
  for i in range(fn,ln+1):
    print(i,end= " ")
  return
printserires(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

# collection types
* list
* tuple
* dictionary

# list
* one of the data stucture in python
* data structure means to store sort and search options
* its one common data structure in python,the items of list separated by common and enclosed by square brackets
* IN list wwe can change values
* ex;
* list=[1,2,3,4]
* list=[jntu,adds,dsd']

In [43]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [44]:
li = [1,6,3,9,5]
print(li)
print(li[3])
print(li[-3])
print(li[3])
print(li[3:])
print(li[3:5])
print(li[-4:-1])

[1, 6, 3, 9, 5]
9
3
9
[9, 5]
[9, 5]
[6, 3, 9]

In [52]:
# update  list
li = ["jntu",8,"antpr",5,4]
print(li)
li[1]="154"
print(li)
# delete list item
del li[3]
print(li)

['jntu', 8, 'antpr', 5, 4]
['jntu', '154', 'antpr', 5, 4]
['jntu', '154', 'antpr', 4]

In [54]:
# basic list operations
li = [1,2,3,4,5]
print(len(li))
print(li*2)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [55]:
print(4 in li)

True

In [56]:
print(6 in li)

False

# list functions
* max 
* min
* sum
* append
* insert
* count
* index
* sort
* pop

In [63]:
li = [1,2,3,4,5]
print(max(li))

5

In [58]:
print(min(li))

1

In [0]:
print(sum(l))

In [82]:
l = [1,2,3,4,5]
# l.append(56)
# l.insert(2,56)
# l.count(5)
# l.sort()
l.pop(2)
print(l)

[1, 2, 4, 5]

In [97]:
# using function return large number from the 1 
def largenumber(li):
  li.sort()
  return li[-1]
def genericlarge(li,n):
  li.sort()
  return li[-n]
li =[12,34,5,56,78,67]
print(largenumber(li))
print(genericlarge(li,3))

78
56